<div class="d-flex flex-column gap-3 p-3">
    <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-column gap-3">
            @if (post?.subforum) {
            <a class="link-success" [routerLink]="['/subforums/', post?.subforum?.name]"
                (click)="$event.stopPropagation()">
                <h5 class="fst-italic text-start">
                    s/{{ post?.subforum?.name}}
                </h5>
            </a>
            }
            @if (post?.user) {
            <a class="link-info" [routerLink]="['/users/', post?.user?.username]" (click)="$event.stopPropagation()">
                <h5 class="fst-italic text-start">
                    u/{{ post?.user?.username}}
                </h5>
            </a>
            }
            <div>
                <h6>{{post?.createdOn! | datedisplay}}</h6>
            </div>
        </div>
        @if (post?.userPermittedActions?.canEdit || post?.userPermittedActions?.canDelete) {
        <div class="btn-group justify-self-end align-self-start dropstart">
            <button class="btn btn-lg rounded-circle bi bi-three-dots-vertical border-0" type="button"
                data-bs-toggle="dropdown" aria-expanded="false">
            </button>

            <ul class="dropdown-menu">
                @if (post?.userPermittedActions?.canEdit) {
                <li class="dropdown-item" (click)="onEditEvent($event)">
                    <i class="bi bi-pen text-warning"></i> Edit
                </li>
                }
                @if (post?.userPermittedActions?.canDelete) {
                <li class="dropdown-item" (click)="onDeleteEvent($event)">
                    <i class="bi bi-trash3 text-danger"></i> Delete
                </li>
                }
            </ul>
        </div>
        }
    </div>
    <div class="text-start text-break">
        <h4>{{ post?.title}}</h4>
    </div>
    @if (isEditing) {
    <form #editPostForm="ngForm" (ngSubmit)="editPostFormSubmit(editPostForm)">
        <div class="form-group d-flex flex-column gap-1">
            <label for="text" class="form-label">Edit text</label>
            <textarea name="text" class="form-control-lg flex-grow-2 bg-dark text-white" autofocus required
                [(ngModel)]="postEditModel.text" #text="ngModel"></textarea>
                @if (text.touched && text.errors?.['required']) {
                    <span class="text-danger fs-5">
                        Text is required!
                    </span>
                    }
            <div class="btn-group align-self-end">
                <button class="btn btn-lg btn-secondary p-3" type="button" (click)="onCancel($event)">
                    Cancel
                </button>
                <button class="btn btn-lg btn-success p-3" type="submit" [disabled]="editPostForm.invalid">
                    Save
                </button>
            </div>
        </div>
    </form>
    } @else {
    <p class="text-start text-break">
        {{ post?.text }}
    </p>
    }
    <div class="d-flex flex-row align-items-center align-content-center">
        <button class="btn bg-dark rounded-circle"
            [ngClass]="[post?.userVote?.voteType === voteType.Up ? 'upvoted-btn' : 'upvote-btn']"
            (click)="upvoteClick($event)">
            <i class="bi bi-arrow-up fs-4"></i>
        </button>
        <button class="btn bg-dark rounded-circle"
            [ngClass]="[post?.userVote?.voteType === voteType.Down ? 'downvoted-btn' : 'downvote-btn']"
            (click)="downvoteClick($event)">
            <i class="bi bi-arrow-down fs-4"></i>
        </button>
        <span class="text-center fs-4 px-2" [ngClass]="[post?.voteTally! > 0 ? 'upvoted-tally' 
             : post?.voteTally! < 0 ? 'downvoted-tally' 
             : '']">
            {{ post?.voteTally }}
        </span>
        <span class="text-center border-danger fs-4 px-2">
            <i class="bi bi-chat"></i>
            {{ post?.commentCount }}
        </span>
    </div>
</div>