
.not-found-404 {
    font-size: 10rem;
    user-select: none;
}

.float-anim {
    animation-name: float;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform:  translateY(-10px);
    }

    100% {
        transform: translateY(0)
    }
}