.nav-item {
    cursor: pointer;
}

.search-input-form {
    border: 1px solid gray;
    text-indent: 1rem;
}

.search-input-form:hover {
    border: 1px solid white;
}

.search-input-form-form.invalid {
    border: 1px solid red;
}

.search-input-form.invalid:hover {
    border: 1px solid orangered;
}

.nav-item:hover {
    background: rgba(120, 120, 120, 0.4)
}

.search-input-form::placeholder {
    color: gainsboro;
}

@media (max-width: 1599px) {
    .small-screen-link {
        display: block;
    }
}

@media (min-width: 1600px) {
    .small-screen-link {
        display: none;
    }
}

.home-icon {
    color: chocolate;
}

.create-icon {
    color: greenyellow;
}

.explore-subforums-icon {
    color: rgba(113, 136, 231, 1);
}

.my-subforums-icon {
    color: yellowgreen;
}

.profile-menu-icon {
    font-size: 20px
}