<section class="d-flex flex-column rounded-5">
    <h2 class="text-center">
        Create Post
    </h2>
    <form #createPostForm="ngForm" (ngSubmit)="onSubmit(createPostForm)" class="d-flex flex-column gap-5">
        <div class="from-group">
            <label for="subforumId" class="fs-5">Subforum</label>
            <select class="form-select bg-dark text-white" name="subforumId" 
            [(ngModel)]="selectedSubforum">
                @for (subforum of subforumsForDropdown; track $index) {
                <option [ngValue]="subforum"> {{subforum.name}}</option>
                }
            </select>
        </div>
        <div class="form-group d-flex flex-column gap-2">
            <input name="title" class="title-input p-2 fs-5 bg-dark text-white rounded-5" required placeholder="Title"
                [(ngModel)]="postCreateModel.title" />
        </div>
        <div class="form-group d-flex flex-column gap-2">
            <textarea name="text" class="p-2 bg-dark text-white rounded-5" required placeholder="Text"
                [(ngModel)]="postCreateModel.text"></textarea>
        </div>
        <div class="d-flex flex-row gap-3 align-self-end">
            <button class="btn btn-lg btn-secondary" type="button">
                Cancel
            </button>
            <button class="btn btn-lg btn-success" type="submit">
                Create
            </button>
        </div>
    </form>
</section>