.subforum-info {
    position: sticky;
    /* Keeps it fixed when scrolling */

    height: 100%;
    /* Full viewport height */
    color: #e4e6eb;
    overflow-y: auto;
    /* Scroll if content overflows */
}