<aside class="border-end border-1 border-info border-opacity-25 sidebar flex-column bg-black">
  <h5 class="text-center mt-3">
    Subforums
  </h5>
  <hr class="text-info opacity-25">
  <ul class="nav flex-column gap-3 mb-auto">
    @if (isLoggedIn) {
    <li class="nav-item rounded-5 p-2">
      <a routerLink="/subforums/unjoined" class="nav-link active row row-cols-2">
        <i class="bi bi-globe col"></i>
        <span class="col">Explore</span>
      </a>
    </li>
    <li class="nav-item rounded-5 p-2">
      <a routerLink="/subforums/joined" class="nav-link active row row-cols-2">
        <i class="bi bi-window-stack col"></i>
        <span class="col">Joined</span>
      </a>
    </li>
    } @else {
    <li class="nav-item rounded-5 p-2">
      <a routerLink="/subforums/guest" class="nav-link active row row-cols-2">
        <i class="bi bi-globe col"></i>
        <span class="col">Explore</span>
      </a>
    </li>
    }
  </ul>
</aside>