.sidebar {
    min-height: 100vh;
    max-width: 200px;
    color: white;
    display: flex;
    position: fixed;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.sidebar .nav-item:hover {
    background: rgba(120, 120, 120, 0.4)
}

.home-icon{
    color: chocolate;
}

.create-subforum-icon {
    color: greenyellow;
}

.explore-subforums-icon {
    color: rgba(113, 136, 231, 1);
}

.my-subforums-icon {
    color: yellowgreen;
}



@media (max-width: 1600px) {
    .sidebar {
        display: none;
    }
}