.sidebar {
    min-height: 100vh;
    max-width: 200px;
    color: white;
    display: flex;
    position: fixed;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.sidebar .nav-item {
    background: black;
}

.sidebar .nav-item:hover {
    background: rgba(128, 128, 128, 0.2);
}


@media (max-width: 1600px) {
    .sidebar {
        display: none;
    }
}