<div class="d-flex flex-column gap-3 p-3 border border-2 border-white border-opacity-25 rounded-5">
    <div class="d-flex flex-column gap-2 p-3 justify-content-evenly">
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-column gap-3">
                <a class="link-info" [routerLink]="['/users/', comment?.user?.username]">
                    <h5 class="fst-italic text-start">
                        u/{{ comment?.user?.username}}
                    </h5>
                </a>
                <div>
                    <span>{{ comment?.createdOn! | datedisplay}}</span>
                </div>
            </div>
            @if (comment?.userPermittedActions?.canEdit || comment?.userPermittedActions?.canDelete) {
            <div class="btn-group">
                <button class="btn btn-lg rounded-circle bi bi-three-dots-vertical border-0" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu">
                    @if (comment?.userPermittedActions?.canEdit) {
                    <li class="dropdown-item" (click)="onEditEvent()">
                        <i class="bi bi-pen text-warning"></i> Edit
                    </li>
                    }
                    @if (comment?.userPermittedActions?.canDelete) {
                    <li class="dropdown-item" (click)="onDeleteEvent()">
                        <i class="bi bi-trash3 text-danger"></i> Delete
                    </li>
                    }
                </ul>
            </div>
            }
        </div>
        @if (isEditing) {
        <form #editCommentForm="ngForm" (ngSubmit)="editCommentFormSubmit(editCommentForm)">
            <div class="form-group d-flex flex-column gap-1">
                <label for="text" class="form-label">Edit text</label>
                <textarea name="text" class="form-control-lg flex-grow-2 bg-dark text-white"
                    [(ngModel)]="commentEditModel.text"></textarea>
                <div class="btn-group align-self-end">
                    <button class="btn btn-lg btn-secondary p-3" type="button" (click)="onCancel($event)">
                        Cancel
                    </button>
                    <button class="btn btn-lg btn-success p-3" type="submit">
                        Save
                    </button>
                </div>
            </div>
        </form>
        } @else {

        <p class="fs-5 text-wrap text-start mt-3">
            {{ comment?.text}}
        </p>
        }
    </div>
    <div class="d-flex flex-row align-items-center align-content-center">
        <button class="btn upvote-btn bg-dark bg-opacity-75 rounded-circle bi bi-arrow-up fs-4"
            [ngClass]="[comment?.userVote?.voteType === voteType.Up ? 'upvoted-btn' : 'upvote-btn']"
            (click)="upvoteClick()">
        </button>
        <button class="btn downvote-btn bg-dark bg-opacity-75 rounded-circle bi bi-arrow-down fs-4"
            [ngClass]="[comment?.userVote?.voteType === voteType.Down ? 'downvoted-btn' : 'downvote-btn']"
            (click)="downvoteClick()">
        </button>
        <span class="text-center fs-4 px-2" [ngClass]="[comment?.voteTally! > 0 ? 'upvoted-tally' 
            : comment?.voteTally! < 0 ? 'downvoted-tally' 
            : '']">
            {{ comment?.voteTally }}
        </span>
        <button class="btn text-center fs-4 px-2 bg-dark rounded-5 p-2" (click)="replyBtnClick()">
            <i class="bi bi-chat rounded-circle "></i>
            Reply
        </button>
    </div>
    @if (isCreatingReply) {
    <div class="d-flex flex-column gap-2 ms-3 p-4" #createReplyDiv>
        <form #createCommentReplyForm="ngForm" (ngSubmit)="createCommentReplySubmit(createCommentReplyForm)">
            <div class="form-group d-flex flex-column gap-2">
                <label for="text" class="form-label fs-5">Share your thoughts</label>
                <textarea name="text" [(ngModel)]="newCommentReply.text"
                    class="form-control-lg flex-grow-2 bg-dark text-white" placeholder="Reply..." rows="1"></textarea>
                <div class="d-flex flex-row gap-2 align-self-end">
                    <button class="align-self-end flex-grow 1 btn btn-lg btn-secondary p-3" type="button"
                        (click)="cancelCreatingReply($event, createCommentReplyForm)">
                        Cancel
                    </button>
                    <button class="align-self-end flex-grow 1 btn btn-lg btn-success p-3" type="submit">
                        Post
                    </button>
                </div>
            </div>
        </form>
    </div>
    }
    <div>
        <app-comment-replies [replies]="comment!.replies" (onReplyEdit)="editReply($event)"
            (onReplyDelete)="deleteReply($event)" />
    </div>
</div>