.upvote-btn:hover {
    color: greenyellow !important;
    border: 1px solid greenyellow;
    border-radius: 10px;
}

.upvoted-btn {
    color: greenyellow !important;
}

.upvoted-btn:hover {
    border: 1px solid greenyellow;
    border-radius: 10px;
}

.downvote-btn:hover {
    color: red !important;
    border: 1px solid red;
    border-radius: 10px;
}

.downvoted-btn {
    color: red !important;
}


.downvoted-btn:hover {
    color: red !important;
    border: 1px solid red;
    border-radius: 10px;
}

.upvoted-tally {
    color: greenyellow !important;
}

.downvoted-tally {
    color: red !important;
}

textarea {
    resize: none;
    min-height: 100px;
    line-height: 1.5;
}

.form-control::placeholder{
    color: white!important;
    opacity: 1;
}