<div class="p-4 ms-3 border border-2 border-white border-opacity-10 rounded-5">

    <div class="d-flex flex-column justify-content-around">
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-column gap-3">
                <a class="link-info" [routerLink]="['/users/', reply?.user?.username]">
                    <h5 class="fst-italic text-start">
                        u/{{ reply?.user?.username}}
                    </h5>
                </a>
                <div>
                    <span>{{ reply?.createdOn! | datedisplay}}</span>
                </div>
            </div>
            <div class="btn-group">
                <button class="btn btn-lg rounded-circle bi bi-three-dots-vertical border-0" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu">
                    @if (reply?.userPermittedActions?.canEdit) {
                    <li class="dropdown-item" (click)="onEditEvent()">
                        <i class="bi bi-pen text-warning"></i> Edit
                    </li>
                    }
                    @if (reply?.userPermittedActions?.canDelete) {
                    <li class="dropdown-item" (click)="onDeleteEvent()">
                        <i class="bi bi-trash3 text-danger"></i> Delete
                    </li>
                    }
                </ul>
            </div>
        </div>
        @if (isEditing) {
        <form #editCommentReplyForm="ngForm" (ngSubmit)="editCommentReplyFormSubmit(editCommentReplyForm)">
            <div class="form-group d-flex flex-column gap-1">
                <label for="text" class="form-label">Edit text</label>
                <textarea name="text" class="form-control-lg flex-grow-2 bg-dark text-white"
                    [(ngModel)]="replyEditModel.text"></textarea>
                <div class="btn-group align-self-end">
                    <button class="btn btn-lg btn-secondary p-3" type="button" (click)="onCancel($event)">
                        Cancel
                    </button>
                    <button class="btn btn-lg btn-success p-3" type="submit">
                        Save
                    </button>
                </div>
            </div>
        </form>
        } @else {
        <p class="fs-5 text-wrap text-start mt-3">
            {{ reply?.text}}
        </p>
        }
    </div>
    <div class="d-flex flex-row align-items-center align-content-center">
        <button class="btn upvote-btn bg-dark bg-opacity-75 rounded-circle bi bi-arrow-up fs-4"
            [ngClass]="[reply?.userVote?.voteType === voteType.Up ? 'upvoted-btn' : 'upvote-btn']"
            (click)="upvoteClick()">
        </button>
        <button class="btn downvote-btn bg-dark bg-opacity-75 rounded-circle bi bi-arrow-down fs-4"
            [ngClass]="[reply?.userVote?.voteType === voteType.Down ? 'downvoted-btn' : 'downvote-btn']"
            (click)="downvoteClick()">
        </button>
        <span class="text-center fs-4 px-2" [ngClass]="[reply?.voteTally! > 0 ? 'upvoted-tally' 
            : reply?.voteTally! < 0 ? 'downvoted-tally' 
            : '']">
            {{ reply?.voteTally }}
        </span>
    </div>
</div>